<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error on server</title>
</head>

<body>
    <main class="text-center">
        <h1 class="display-1"><%= errorCode %></h1>
        <p><%= errorMessage %></p>
    </main>

</body>

</html>