<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- snapchat -->
    <meta property="og:site_name" content="letvice" />

    <meta property="og:title" content="snap events" />

    <!-- The following are optional -->

    <meta property="snap:sticker" content="http://iskalcoolisi.me/snaplogo.png" />

    <meta property="snap:app_id" content="6f40af4f-a900-4ef4-8a0c-e0ca6318eb4b" />
    <meta property="snap:publisher_id" content="92308228-fa84-4ab9-91b4-f025e380cd36" />

    <!-- end snapchat -->

    <title>Snap Events</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            background-color: yellow;
        }

        main {
            margin-top: 200px;
        }

        .round {
            border-radius: 10px;
        }

        /* search button */
        button {
            all: unset;
            cursor: pointer;
            width: 44px;
            height: 44px;
        }

        svg {
            fill: currentColor;
            width: 50px;
            height: 50px;
            padding: 10px;
        }

        form.example button {
            float: left;
            width: 20%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

        form.example button:hover {
            background: #0b7dda;
        }

        div.scCenter .snapchat-creative-kit-share{
            text-align: center;
        }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>

</head>

<body>

    <main role="main">
        <div class="album mt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">


                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow round mt-3">

                            <div class="card-body text-center">
                                <form class="form-signin mt-3 mb-5" method="POST" action="/search">
                                    <img class="mb-4 mt-2" src="snap.jpg" alt="" width="90%" height="90%">
                                    <h1 class="h3 mb-3 font-weight-normal">Search for an event</h1>
                                    <div class="px-3">
                                        <!-- <label for="inputEmail" class="sr-only">Events name</label>
                                        <input type="email" id="inputEmail" class="form-control" placeholder="Events name" required autofocus> -->
                                        <div class="input-group rounded mt-4 ml-3">
                                            <!-- <input type="search" name="search" class="form-control rounded"
                                                placeholder="Search" aria-label="Search"
                                                aria-describedby="search-addon" /> -->
                                            <!--OVDE TI JE ONA LUPA -->
                                            <form class="example" action="/action_page.php" style="width: 90%;">
                                                <input type="text" name="search" placeholder="Search.." name="search2">
                                                <button type="submit"><i class="fa fa-search"></i></button>
                                              </form>
                                            <!--znaci ovo iznad -->
                                        </div>
                                        <button class="btn btn-lg btn-dark btn-block mt-5" formaction="/event"
                                            type="submit" style="width: 90%;">Host an event!</button>
                                        <p class="mt-5 mb-3 text-muted"></p>
                                        <div class="scCenter" style="margin-left: 36%;">
                                            <div class="snapchat-creative-kit-share"></div>
                                        </div>

                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
        </div>
        </div>

    </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

    <script>

        // Load the SDK asynchronously

        (function (d, s, id) {

            var js,

                sjs = d.getElementsByTagName(s)[0];
        
              if (d.getElementById(id)) return;
        
              js = d.createElement(s);
        
              js.id = id;
        
              js.src = "https://sdk.snapkit.com/js/v1/create.js";
        
              sjs.parentNode.insertBefore(js, sjs);
        
            })(document, "script", "snapkit-creative-kit-sdk");
        
        </script>

</body>

</html>